body{
    display: flex;
    flex-direction: column;
}
.first{
    text-align: center;
    background-color:#F9FBE7;
  
    
   
}

.ing{
    background-color:#F0EDD4;
   
}

.inst{
    background-color: #EEE7DA;
}
