.title{
    background-color: #6B240C;
    text-align: center;
   

}
.sub{
    background-color: #994D1C;
    
}

.first{
    background-color: #E48F45;
}

.second{
    background-color: #F5CCA0;
}

